.puppetJsonReply,
.puppetReply {
    padding: 2px;
    background-color: rgb(244, 245, 247);
    font-size: xx-small;
    white-space:pre-wrap;
}

.puppetJsonReply {
    display: none;
}

.puppetBranchDiv {
    display: none;
}